
button {
  padding: 10px 20px;
  background-color: #007bfc;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #005bb5;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('C:\Users\risha\pass\password-generator\public\ChatGPT Image Jun 21, 2025, 08_12_35 PM.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}
